CheckPoint2.txt
[{"id":"a0de64ff.995a48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ecdd7786.8b8a38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5214601c.bd0e5","type":"rpi-gpio out","z":"a0de64ff.995a48","name":"LED","pin":"7","set":"","level":"0","freq":"","out":"out","x":749,"y":392,"wires":[]},{"id":"3b452e7a.704232","type":"debug","z":"a0de64ff.995a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":397,"y":274,"wires":[]},{"id":"f29f29c0.a51e08","type":"switch","z":"a0de64ff.995a48","name":"If 1 then","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":279,"y":397,"wires":[["ba691b4d.e16ab8"],["65298616.144e98"]]},{"id":"ba691b4d.e16ab8","type":"change","z":"a0de64ff.995a48","name":"Chang 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":511,"y":371,"wires":[["5214601c.bd0e5"]]},{"id":"f1b92e70.5c78","type":"rpi-gpio in","z":"a0de64ff.995a48","name":"Button","pin":"11","intype":"up","debounce":"25","read":true,"x":75,"y":349,"wires":[["f29f29c0.a51e08","3b452e7a.704232"]]},{"id":"65298616.144e98","type":"change","z":"a0de64ff.995a48","name":"Chang1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":427,"wires":[["5214601c.bd0e5"]]},{"id":"fdc01286.3d7e5","type":"inject","z":"ecdd7786.8b8a38","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":121,"y":151,"wires":[["29bb5c8.e836da4"]]},{"id":"29bb5c8.e836da4","type":"function","z":"ecdd7786.8b8a38","name":"Payload","func":"msg.headers={\n    deviceKey: \"z6Ac2IwwdPeP90L0\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":161,"wires":[["ebac842d.b9cba8","264bac4c.903ab4"]]},{"id":"ebac842d.b9cba8","type":"http request","z":"ecdd7786.8b8a38","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/Dw9tr3fs/datachannels/temp/datapoints.csv","tls":"","x":467,"y":274,"wires":[["97158719.7a29e8","7e76e5c3.422b3c"]]},{"id":"97158719.7a29e8","type":"http response","z":"ecdd7786.8b8a38","name":"","statusCode":"","headers":{},"x":666,"y":311,"wires":[]},{"id":"7e76e5c3.422b3c","type":"debug","z":"ecdd7786.8b8a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":659,"y":447,"wires":[]},{"id":"264bac4c.903ab4","type":"http request","z":"ecdd7786.8b8a38","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/Dw9tr3fs/datachannels/humit/datapoints.csv","tls":"","x":413,"y":354,"wires":[["97158719.7a29e8","7e76e5c3.422b3c"]]}]