CheckPoint3.txt
[{"id":"7fecd4de.192dfc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ff36e824.c45508","type":"inject","z":"7fecd4de.192dfc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":157.5,"y":146.25,"wires":[["c51d745c.58b4d8"]]},{"id":"c51d745c.58b4d8","type":"function","z":"7fecd4de.192dfc","name":"payload","func":"msg.headers={\n  deviceKey: \"z6Ac2IwwdPeP90L0\"  \n};\nmsg.payload = \"temp,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":273,"wires":[["19424c68.712d64"]]},{"id":"19424c68.712d64","type":"http request","z":"7fecd4de.192dfc","name":"","method":"POST","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/Dw9tr3fs/datapoints.csv","tls":"","x":407,"y":377,"wires":[["555f76.ea23c08c","6e43c38b.e3317c"]]},{"id":"555f76.ea23c08c","type":"http response","z":"7fecd4de.192dfc","name":"","statusCode":"","headers":{},"x":561,"y":418,"wires":[]},{"id":"6e43c38b.e3317c","type":"debug","z":"7fecd4de.192dfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":201,"wires":[]}]