CheckPoint5.txt
[{"id":"33b39d20.ee88a2","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"80a14471.682008","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e3d090.a07d5f8","type":"http in","z":"33b39d20.ee88a2","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":155,"y":575,"wires":[["fec8ec39.f58b2"]]},{"id":"8fb9e2e6.6b034","type":"rpi-gpio in","z":"33b39d20.ee88a2","name":"","pin":"7","intype":"down","debounce":"25","read":true,"x":233,"y":739,"wires":[["9b0cab14.180288"]]},{"id":"9b0cab14.180288","type":"function","z":"33b39d20.ee88a2","name":"SetGPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":761,"wires":[["aaf19e54.eb46b"]]},{"id":"fec8ec39.f58b2","type":"function","z":"33b39d20.ee88a2","name":"GetGPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":647,"wires":[["450e7471.84dd3c","aaf19e54.eb46b"]]},{"id":"450e7471.84dd3c","type":"http response","z":"33b39d20.ee88a2","name":"","statusCode":"","headers":{},"x":898,"y":716,"wires":[]},{"id":"aaf19e54.eb46b","type":"debug","z":"33b39d20.ee88a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":791,"y":818,"wires":[]},{"id":"36aac387.0b02bc","type":"http in","z":"80a14471.682008","name":"SetGPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":155,"y":233,"wires":[["5e29be8a.8e56d","1df6beaa.62fff1"]]},{"id":"5e29be8a.8e56d","type":"function","z":"80a14471.682008","name":"set to 1 ","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":518,"y":377,"wires":[["3016d54d.f7675a","9550b446.647f08"]]},{"id":"3016d54d.f7675a","type":"rpi-gpio out","z":"80a14471.682008","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":850,"y":334,"wires":[]},{"id":"1df6beaa.62fff1","type":"function","z":"80a14471.682008","name":"return status","func":"msg.payload=\"GPIO5 is set to 1\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":487,"wires":[["441fa5d5.5c8efc","9550b446.647f08"]]},{"id":"441fa5d5.5c8efc","type":"http response","z":"80a14471.682008","name":"","statusCode":"","headers":{},"x":678,"y":652,"wires":[]},{"id":"9550b446.647f08","type":"debug","z":"80a14471.682008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":892,"y":592,"wires":[]}]