CheckPoint4.txt
[{"id":"a0de64ff.995a48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ecdd7786.8b8a38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7fecd4de.192dfc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"33b39d20.ee88a2","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8e3d090.a07d5f8","type":"http in","z":"33b39d20.ee88a2","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":155,"y":575,"wires":[["fec8ec39.f58b2"]]},{"id":"8fb9e2e6.6b034","type":"rpi-gpio in","z":"33b39d20.ee88a2","name":"","pin":"7","intype":"down","debounce":"25","read":true,"x":233,"y":739,"wires":[["9b0cab14.180288"]]},{"id":"9b0cab14.180288","type":"function","z":"33b39d20.ee88a2","name":"SetGPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":761,"wires":[["aaf19e54.eb46b"]]},{"id":"fec8ec39.f58b2","type":"function","z":"33b39d20.ee88a2","name":"GetGPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":647,"wires":[["450e7471.84dd3c","aaf19e54.eb46b"]]},{"id":"450e7471.84dd3c","type":"http response","z":"33b39d20.ee88a2","name":"","statusCode":"","headers":{},"x":898,"y":716,"wires":[]},{"id":"aaf19e54.eb46b","type":"debug","z":"33b39d20.ee88a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":791,"y":818,"wires":[]}]